

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="nav-link px-2 link-secondary">
        <svg class="bi me-2" width="100" height="10" role="img" aria-label="Bootstrap"><i class="fa-sharp fa-solid fa-house fa-2xl"></i></svg>
      </a>
  
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{" class="nav-link px-2 link-dark">About</a></li>
      </ul>
        
      </div>
    </header>
  </div>