{% extends 'base.html' %}

{% block content %}
{% comment %} <div align="left" >
    <ul>
        <li>Paris</li>
        <li>Lyon</li>
        <li>Bordeaux</li>
        <li>PB</li>

    </ul>
</div> {% endcomment %}
<figure class="h-fit" >
{{fig|safe}}
</figure>
<form action="result">
    {% csrf_token %}
    <div class="flex flex-col gap-8 justify-center items-center">
        <label for="floatingInputGrid" >Ville : </label>
        <select class="select select-secondary w-full max-w-xs" id="floatingInputGrid" name = "ville">
            

          <optgroup label="France">
            <option value="Paris">Paris</option>
            <option>Lyon</option>
            <option>Bordeaux</option>
            <option value = "Pays_Basque">Pays Basque</option>
          </optgroup>


          <optgroup label="Belgique">
              <option>Antwerp</option>
              <option>Brussels</option>
              <option>Ghent</option>
          </optgroup>


          <optgroup label="Netherlands">
              <option>Amsterdam</option>
              <option>Rotterdam</option>
              <option value="The_Hague">The Hague</option>
          </optgroup>



          <optgroup label="United Kingdom">                        
              <option>London</option>
              <option>Bristol</option>
              <option value = "Greater_Manchester">Greater Manchester</option>
              <option>Edinburgh</option>
          </optgroup>


        </select>
        <input class="btn btn-active btn-secondary rounded-lg" type="submit" value='Submit'>
        </div>

    

  </form>


{% endblock content %}