{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
<h1 style="color:rgb(44, 44, 90); font-weight: 700;">
  <i class="fa-solid fa-key"></i> Change password
</h1>

  {% if validlink %}

  <p>Please enter (and confirm) your new password.</p>
  
{% comment %}    
  <form method="POST">
    {% csrf_token %}
   
    {{form|crispy}}

    <button type="submit" class="btn btn-primary">Submit</button>

  </form> {% endcomment %}



<form method="POST">
  {% csrf_token %}
  <div class="mb-3">
      <label for="{{form.new_password1.id_for_label}}" class="form-label">Password</label>
      {{form.new_password1|add_class:"form-control"}}
      <div align="left"  <small style="color: grey">{{form.new_password1.help_text}}</small> </div>
      
  </div>

  <div class="mb-3">
      <label for="{{form.new_password2.id_for_label}}" class="form-label">Confirm Password</label>
      {{form.new_password2|add_class:"form-control"}}
      <div align="left"  <small style="color: grey">{{form.new_password2.help_text}}</small> </div>
  </div>



{% for field in form %}
    <p>
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
{% endfor %}


  <button type="submit" class="btn btn-primary">Submit</button>

</form>

  {% else %}
    <p>
      <font color="red">The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.</font> 
      
    </p>
  {% endif %}
{% endblock %}