{% extends 'base.html' %}


{% block content %}
<div class='container' style= "
width: 1100px;
height: 400px;

position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;

margin: auto;
">



<h1 style="color:rgb(44, 44, 90); font-weight: 700;">
  <i class="fa-solid fa-paper-plane"></i> Mail sent ... 
</h1>
<br>
<br>
  <p>
    We've emailed you instructions for setting your password, <font color="red">if an account exists with the email you entered.</font> 
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>

</div>

{% endblock %}