{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Result</title>

  <script src="https://kit.fontawesome.com/8f51521eb7.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>






<body class="px-16 flex flex-col justify-between h-screen">
    
    {% include 'includes/header.html' %}
    <main>
   
    

            <div >
                    {% if messages %}
                      {% for message in messages %}
                          {{message}}
                      {% endfor %}
                    {% endif %}
                  

                  {% block content %}
                  {% endblock %}
          </div>

        </main>

{% include 'includes/footer.html' %}
</body>

</html>